{% extends "base.html" %}
{% block head %}
{{ super() }}
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
 <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
 <script src="/js/main.js"></script>
<script>
        $(document).ready(function(){
          console.log("document is ready");
          initialize();
        });
				var session_data;
        var map;
        var markers;
				var colors = ["#00CCFF",
				              "#00FF33",
											"#FF0000",
											"#FFFF00",
											"#0000FF",
											"#FF00FF",
											"#FF9900"]
        var stage_to_colors;
        var stage_div;

				function initialize() {
                stage_div = document.getElementById("stage_box");
								map = L.map('map').setView([{{ center_lat }},{{ center_lon }}], 8);
                console.log(markers);

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                    maxZoom: 18,
                    id: '{{ mb_id }}',
                    accessToken: '{{ token }}'
                }).addTo(map);

                /**$.getScript("/js/main.js"), function(){
                  console.log("/js/main.js was loaded");
                }*/

								$("#session_dropdown").change(function() {
                        if (map.hasLayer(markers)){
                          map.removeLayer(markers);
                        }
                        markers = new L.FeatureGroup();
												console.log("change detected");
												var session_name = "";
												$( "#session_dropdown option:selected").each(function() {
																session_name += $( this ).text();
												});

                        load_session(session_name);

								});

				}


</script>
{% endblock %}
{% block content %}
<div id="header">
				<h1>ZenWalk Maps</h1>
</div>

<div id="nav">
        <div class="section box" id="session_box">
  				<h3>Choose a session</h3>
  				<select name="session_dropdown" id="session_dropdown">
  								{% for sesh in sessions %}
  								<option value={{ sesh }}>{{ sesh }}</option>
  								{% endfor %}
  				</select>
        </div>

        <div class="section box" id="stage_box">
        </div>

</div>

<div id="map"></div>
{% endblock %}
